.clock {
    text-shadow: 5px 5px rgb(9, 0, 61);
    text-align: center;
    color: rgb(24, 0, 240);
    font-size: 175px;
    border-width: 10px;
    border-style:ridge;
    border-color:rgb(12, 0, 78);
    /*border-image: url(lilclock.jfif)
    animation-name: border;
    animation-duration: 3s;
    animation-iteration-count: infinite;*/
}
.container {
    margin: auto;
    display: block;
}
.hourTextBox {
    text-align: center;
}
.minuteTextBox {
    text-align: center;
}
.stopAlarm {
    text-align: center;
}
.stopButton {
    color: red;
    background-color: black;
    border-radius: 20px;
}
body {
    background-image: url("clock.jpg");
    background-size: cover;
}
.textBox {
    background-color: rgb(206, 203, 203);
}
/*@keyframes border {
    0% {border-image: url();
        border-color: blue;
}
    25% {border-style: dashed;
        border-color: blue;
}
    50% {border-style: dashed;
        border-color: purple;
    }
    75% {border-style: dotted;
        border-color: purple;
    }
    100% {border-style: dotted;
        border-color: blue;
    }
}
